<div class="col-12">
    
  <div class="form-group"> 
        <label>Buscar filmes:</label> 
        <input type="text" (input)="findByTitle($event.target.value)" placeholder="Buscar" class="form-control" required="required">
  </div>

  <div class="card-columns">
    <div class="card bg-dark text-white" (click)="goEdit(movie)" *ngFor="let movie of movies| paginate: { itemsPerPage: 20, currentPage: paginaAtual }; let i = index">
     
      <img class="card-img"
          src="https://image.tmdb.org/t/p/w250_and_h141_face{{ movie.backdrop }}" alt="_blank" />
      <div class="card-img-overlay">
        <p class="card-title">{{ movie.titulo }}</p>
      </div>
    </div>
  </div>
</div>
